<html>
  <head>
  	<style>
  	  body {
  	  	background-color: <%= bcolor %>;
  	  }
  	</style>
  </head>
  <body>
    
    <p><%= message %></p>
    <% if message == "You got it right!" %>
      <p><%= "The SECRET NUMBER is #{SECRET_NUM}" %></p>
    <% end %>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    
  </body>
</html>